name: CD pipeline

on:
  workflow_run:
    workflows: ["CI pipeline"]
    types: [completed]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Étape indispensable pour l'ARM64
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Étape indispensable pour le multi-plateforme
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # On demande ici de construire pour les deux types de processeurs
          platforms: linux/amd64,linux/arm64
          tags: ${{ secrets.DOCKER_USERNAME }}/calculator:latest
